@model EmployeeManagement.Models.Employee
@Html.ValidationMessageFor(model => model.Name)
@Html.ValidationSummary(true)
@Html.ValidationMessageFor(model => model.Position)
@Html.ValidationMessageFor(model => model.Remark)



<h2>Create New Employee</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label class="form-label">Name:</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Position:</label>
        <input asp-for="Position" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Remark:</label>
        <input asp-for="Remark" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Add Employee</button>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
